/*stylesheet*/
@media screen and (min-width: 1230px) {
/* vars */




:root {
  --background-color: rgb(29, 40, 51);
  --body-color: #fff;
}
body {
  margin: 0;
  font-family: inter;
  color:  var(--body-color);
  background: var(--background-color);
}

.home {
  background-color: rgb(41,55,71);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}




.indexlogo {
  width: 20rem;
  max-width: 100%;
  margin: 2rem auto auto auto;
}



.navbar {
  background: rgb(29, 40, 51);
  box-shadow: 0 .2px 20px 0 rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-weight: bold;
  padding: 1.5rem 0;
}

.navbar__container {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  width: 100%;
  
}

#navbar__logo {
align-items: center;
  justify-content: center;
  margin: auto 0;
  width: 10rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;

}

#navbar__logo img {
  
  width: 100%;
  }


.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}


.visualnavbar__menu {
    display: flex;
  align-items: center;
  list-style: none;
}




.navbar__item {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 2.5vw;
  padding: .5rem 1.5rem .5rem .4rem;
  font-size: 1.4rem;
  font-weight: 800;
  font-style: italic;
}





.navbar__item img {
 width: 3.5rem;
 margin-right: -.5rem;
}






.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}


.navbar__item:hover
{
  background: rgb(62, 82, 107);
  border-radius: 10rem;
}


.navbar__menu a:focus-visible {
  outline:.10rem solid white;
  border-radius: 10rem;
}


#navbar__logo:focus-visible {
  outline:.10rem solid white;
  border-radius: .5rem;
}


.currentpagenav
{
  background: rgb(62, 82, 107);
  border-radius: 10rem;
}












/*Index*/


button {
  font-size: 1.5em;
}
button:before, button:before {
  display: inline;
  content: '';
  background-size: cover;
  background-repeat: none;
  padding-left: 2.2em;
}

button.ar-stats:before, button.ar-stats:before {
  background-image: url('../images/gunv5-01.svg');
}

button.smg-stats:before, button.smg-stats:before {
  background-image: url('../images/gunv6-01-01.svg');
}

button.map-info:before, button.map-info:before {
  background-image: url('../images/map2-01.svg');
}

button.op-info:before, button.op-info:before{
  background-image: url('../images/op-info-01.svg');
}

button.op-tips:before, button.op-tips:before {
  background-image: url('../images/light-bulb-01.svg');
}

button.spawn-peeks:before, button.spawn-peeks:before {
  background-image: url('../images/spawnv3-01.svg');
}


a.ex1 {
  display: flex;
  padding: 20px 20px 20px 20px;
  background-color: rgb(29, 40, 51);
  border-radius: 100px;
  width: 16rem;
  margin: 1.10em auto .95em auto;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.ex1:hover {
  background-color: rgb(62, 82, 107);
  
}




div.rcorners1 {
  border-radius: 1rem;
  background-color: rgb(29, 40, 51);
  padding: 1.25rem 1rem 2.6rem 1rem;
  text-align: center;
  width: 18rem;  
  margin: auto;

}


div.rcorners1 h1 {
  font-weight: bold;
font-size: 1.3rem;
font-style: italic;
}



span.three {
font-weight: 850;
}

div.rcorners1ar {
  border-radius: 1rem;
  background-color: rgb(29, 40, 51);
  padding: 1.25rem 1rem 2.6rem 1rem;
  text-align: center;
  width: 18rem;  
  margin: auto;
}






div.rcorners1ar h1 {
  font-weight: bold;
font-size: 1.3rem;
font-style: italic;
}



div.up1 {
}


div.up2 {
}






div.map-infoinside h2{
  margin-top: 1.2rem;
  margin-bottom: .5rem;
  font-size: 1rem;
}

div.map-infoinside img{
 width: 46.5%;

}


div.indexoperators h2 {
  margin-top: 1.8rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 650;
  font-style: italic;
}


div.indexoperators img{
  width: 30%;

}


div.indexguns h2 {
  margin-top: 1.8rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 650;
  font-style: italic;
}

div.indexguns img {
width: 70%;
}

#ak {
  width: 63.92%;
}


div.ex2 h1 {
  font-size: 1.5rem;
}
div.ex2 h1:before {
  display: inline;
  content: '';
  background-size: cover;
  background-repeat: none;
  padding-left: 2.2em;
}

div.ex2 h1.ar-stats:before {
  background-image: url('../images/gunv5-01.svg');
}

div.ex2 h1.smg-stats:before {
  background-image: url('../images/gunv6-01-01.svg');
}

div.ex2 h1.map-info:before {
  background-image: url('../images/map2-01.svg');
}

div.ex2 h1.op-info:before{
  background-image: url('../images/op-info-01.svg');
}

div.ex2 h1.op-tips:before {
  background-image: url('../images/light-bulb-01.svg');
}

div.ex2 h1.spawn-peeks:before {
  background-image: url('../images/spawnv3-01.svg');
}































/*AR Stats Page*/


div.ex2 {
  display: none;
  text-align: center;
  margin: 50px auto auto auto;
  font-size: 3.2rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  }




div.rcorners2 {
  border-radius: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  font-family: inter;
  margin: 8.5rem 2rem auto 2rem;
}



#wrapper{
  margin: 0 auto;
  margin-top: 6rem;
  max-width: 1200px;
  width: 100%; 
  display: flex;
}








.arimagelist {
padding: 2.5rem;
border-radius: 2rem;
background-color: rgb(29, 40, 51);
margin-top: 4rem;
margin-bottom: 2rem;
margin-right: 3rem;
margin-left: 3rem;
}

.arimagetop h2 {
text-align: center;
margin: 6.36rem 0rem 0rem 0rem;
font-weight: bold;
font-style: italic;
font-size: 2rem;
}

.arimagetop3 {
font-size: 3rem;
font-weight: 900;
text-align: center;
margin: 0rem 0rem 4rem 0rem;
}

.arimagetop img{
max-width: 100%;
width: 26%;
margin: 2rem auto 2rem auto;
align-items: center;
display: flex;
background-color: rgb(41,55,71);
padding: 2rem;
border-radius: 2rem;

}

















/*AR Stats Page*/





/*Map Info Page*/
.Note{
  text-align: right;
  font-size:2.6rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  margin-top: 4rem;
}


.Note img {
  width: 3%;
  float: left;
  margin-right: .6rem;
}



.Note h3 {
margin: 1rem 0rem 1rem 0rem;
font-weight: 900;
font-style: italic;
font-size: 3rem;
}


.maps {
  font size: 35px;
}


/*Spawn*/

.mapbodytop h2 {
font-size: 2.5rem;
margin: 4rem auto 1.7rem auto;
font-weight: 900;
font-style: italic;
}


.mapbody h2 {
font-size: 2.5rem;
margin: 12rem auto 1.7rem auto;
font-weight: 900;
font-style: italic;
}

.spawnbody h2 {
font-size: 2.5rem;
margin: 12rem auto 1.7rem auto;
font-weight: 900;
font-style: italic;
}

.spawnbodytop h2 {
font-size: 2.5rem;
margin: 8.5rem auto 1.7rem auto;
font-weight: 900;
font-style: italic;
}

.spawnbody img {
border-style: solid;
  border-color: #293747;
  border-width: .25rem;
}


div.rcorners4 {
  
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  font-family: inter;
  margin: 40px auto 15px auto;
}













/*Op Info*/

.op-info-item
{
  text-align: left;
  margin-bottom: 12rem; 
}

.op-info-finalitem
{
  text-align: left;
  margin-bottom: 6em; 
}



.icon
{
  text-align: center;
}


.icon h2
{
  padding-bottom: 40px;
  font-weight: 900;
  font-size: 2.5rem;
  font-style: italic;
}

.icon img {
  display: inline-block;
  width: 40%;
  }

.icongif
{
  text-align: center;
}


.icongif h2
{
  padding-bottom: 2rem;
  font-weight: 900;
  font-size: 2.5rem;
  font-style: italic;
}

.icongif img {
  display: inline-block;
  width: 90%;
  border-style: solid;
  border-color: #293747;
  border-width: .25rem;
  }









.mapbodytop img {
  border-style: solid;
border-color: #293747;
border-width: .25rem;
}


.mapbody img {
  border-style: solid;
border-color: #293747;
border-width: .25rem;
}
}







  .copy {
    padding-top:5.2rem;
      }


.copy p {
  max-width: 60ch;
  line-height: 1.5;
  word-wrap: break-word;
  font-weight: 500;
}

.copy ul {
  max-width: 60ch;
  line-height: 1.5;
  list-style-type: disc;
  word-wrap: break-word;
  font-weight: 500;
}




.op-info-item ul li {
  margin-bottom: 1rem;
}










/*Op Ability/*

/*Contact Us*/

#ftcontent :focus-visible{
  background-color: yellow;
}




#footer {
  align-content: space-between;
  background-color: #293747;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 6rem
}

#footerindex {
  align-content: space-between;
  background-color: rgb(29, 40, 51);
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 6rem;
  bottom: 0;
  position: relative;
}


.ftcontent {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2.5rem auto;
  display: flex;

}

#ftcontent {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2.5rem auto;
  display: flex;

}


#ftcontent img {
width: 4rem;
vertical-align: baseline;
float: left;
}


#ftcontent p {
font-weight: bold;
font-size: 1.8rem;
margin-left: 1.5rem;
font-style: italic;
}
