/*stylesheet*/

/* vars */
:root {
  --background-color: rgb(41,55,71);
  --body-color: #fff;
}
body {
  margin: 0;
  font-family: inter;
  color:  var(--body-color);
  background: var(--background-color);
}
#wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
div.ex1 {
  width: 150px;
  padding: 25px;
  background-color: rgb(62, 82, 107);
  border-radius: 100px;
  text-align: center;
}