/*stylesheet*/

/* vars */
:root {
  --background-color: rgb(41,55,71);
  --body-color: #fff;
}
body {
  margin: 0;
  font-family: inter;
  color:  var(--body-color);
  background: var(--background-color);
}
.header {
  display: flex;
  justify-content: space-between;
}

}

h4 {
  font-size: 1.5em;
}

#wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
div.ex1 {
  display: block;
  padding: 25px;
  background-color: rgb(62, 82, 107);
  border-radius: 100px;
  width: 270px;
  text-align: center;
  margin: 1em auto 1em auto;
}

.ex1:hover {
  background: gray;
}


div.rcorners1 {
  border-radius: 40px;
  background-color: rgb(62, 82, 107);
  padding: 8px 5px 5px 5px;
  text-align: center;
  font-weight: 600;
  font-size: 20;
  width: 350px;
  height: 400px;
  margin: auto;
}

div.map-infoinside {
  margin-top: 3px;
}



h4 {
  font-size: 1.5em;
}
h4:before, h5:before {
  display: inline;
  content: '';
  background-size: cover;
  background-repeat: none;
  padding-left: 2.2em;
}

h4.ar-stats:before, h5.ar-stats:before {
  background-image: url('../images/gunv5-01.svg');
}

h4.smg-stats:before, h5.smg-stats:before {
  background-image: url('../images/gunv6-01-01.svg');
}

h4.map-info:before, h5.map-info:before {
  background-image: url('../images/map2-01.svg');
}

h4.op-info:before, h5.op-info:before{
  background-image: url('../images/op-info-01.svg');
}

h4.op-tips:before, h5.op-tips:before {
  background-image: url('../images/light-bulb-01.svg');
}

h4.spawn-peeks:before, h5.spawn-peeks:before {
  background-image: url('../images/spawnv3-01.svg');
}


#footer {
  padding: 20px 120px 20px 120px;
  align-content: space-between;
  background-color: rgb(29, 40, 51);
  margin-top: 50px;
}


#footer .img {
  padding-left: 15px;
}

#footer .contact {
  text-align: right;
  font-size:20px;
  font-weight: bold;
  padding-top: 35px;
  padding-right: 53px;
}

/*AR Stats Page*/


div.ex2 {
  display: flex;
  text-align: center;
  margin: 50px auto auto auto;
  font-size: 45px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  }


div.rcorners2 {
  border-radius: 40px;
  padding: 0;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  font-family: inter;
  margin: 10px auto 10px auto;
  padding: 2em;
}

#container {
  width: 100%;
  margin-top: 1em;
}

.masthead {
  margin-bottom: 2em !important;
}

.navbar-items {
  background: rgb(62, 82, 107);
  width: 20%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 20px;
  margin: 0px 5px;  
}


.navbar-items:hover {
  background: gray;
}

@media only screen and (max-width: 380px) {
    .container {
      display: block;
    }
    .navbar-items {
      width: 100%;
    }
}

.content {
  padding: px;
}

.sticky {
  position: fixed;
  top: 0;
}

.sticky + .content {
  padding-top: 60px;
}

/*Map Info Page*/
.Note{
  font-size: 37px;
}

.maps {
  font size: 35px;
}

/*Op Info*/

.op-info-item
{
  text-align: left;
  margin-bottom: 6em;
  
}
.icon
{
  text-align: center;
}
.icon image
{
  display: inline-block;

  }

.icon h3
{
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 30px;
}

  .copy {
    padding-top: 67.5px;
      }

.op-info-item ul {
  list-style-type: disc;
}

.op-info-item ul li {
  margin-bottom: 1em;
}
p{ 
        line-height: 2rem; /*or use value in px*/ 
      }


/*Op Ability/*

/*Contact Us*/

div.rcorners3 {
  border-radius: 40px;
  background-color: rgb(62, 82, 107);
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  font-family: inter;
  margin: 50px auto auto auto;
  padding: 1em 2em 2em 2em;
  width: 600px;
  height: 300px;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}



